db_config.txt
.venv
__pycache__/
.ipynb_checkpoints
.DS_Store
.vscode/
data/cv_reports/**/202*
data/cv_reports/**/202*/**/*.csv
data/cv_reports/**/202*/**/*.parquet
data/processed/
logs/
.env
*.egg-info/
.env.test
build/
dist/
.pytest_cache/
.mypy_cache/
.cache/
.coverage
*.coverage
.idea/

reports

early-experimentation/cv_reports
flowcase_etl/cv_reports/*
!flowcase_etl/cv_reports/QTEST/
